{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}
<div class="p-5">
    <div class="row">
        {% for media in medias_gallery %}
            <div class="col-4 p-3">
                    {% set url = '/assets/images/' ~ media.media %}
                    <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
            </div>
        {% endfor %}
    </div>
</div>









{% endblock %}