{# frontoffice/articles.html.twig #}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container my-5">
        {{ include('frontoffice/article/article.html.twig') }}
    </div>
{% endblock %}