// Bouton de supression d'une image uploadée
.photo-remove
{
    display:inline-block;
    width:1.2em;
    height:1.2em;

    position:absolute;
    top:5px;
    right:5px;
    z-index:1000;

    font-size:1.2em !important;
    line-height:1em;

    text-align:center;
    font-weight:bold;
    border:1px solid gray !important;
    border-radius:1.2em;
    color:gray;
    background-color:white;
    opacity:.5;

}

.photo-remove:hover
{
    text-decoration:none !important;
    opacity:1;
}

// Filtre affiché sur une image supprimée
.overlay-text {
    position: absolute;
    font-size: 20px;
}
.overlay{
    align-items: center;
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0!important;
}