<div class="container-fluid">
    <div class="row font-primary">
        <div class="fs-4">Concerts précédents&nbsp:</div>
    </div>
    <div class="row font-primary">
        <!-- Boucle des cards des événements -->
        {% for event in events_historic %}
            <div class="my-2" >
                <div class="fs-6">{{ formatCustomDate(event.dateEvent) }}&nbsp;&nbsp;</div>
                <span class="fw-bold fs-5" style="line-height: 1">{{ event.titleByLanguage | upper }}</span>
            </div>
        {% endfor %}
    </div>
</div>