{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}
    {% do cat_actu.getDatas(locale) %}
    <div class="wrapper">
        {% include 'frontoffice/_components/title.html.twig' with {'events': null, 'filter': false, 'historic': false, 'title': null, logo : null, linkToSorted : null } %}

        <div class="mt-lg-3 container-fluid">
            <!-- ARTICLE -->
            <div class="row">
                <!-- IMAGE ARTICLE -->
                <div class="col-12">
                {% set media = cat_actu.getMedia(26) %}
                {% if media is not null %}
                    <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="rounded-0 w-100 img-fluid"  style=" max-height: 40vh;object-fit: cover"  alt="...">
                {% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row ">
                <div class="col-12">
                    <!-- Titre / Description / Contenu de la catégorie -->
                    <div class="p-3 p-lg-0 pt-lg-5">
                        <div class="fs-5">{{ cat_actu.description | raw }}</div>
                        <div class="fs-5">{{ cat_actu.content | raw }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Liste des sous-catégories d'action culturelle -->
                {% for sous_cat in sous_cat_actions %}
                    {% set media = sous_cat.getMedia(27) %}
                    {% if media %}
                        {% set url = '/assets/images/' ~ media.media %}
                    {% endif %}

                    <div class=" col-lg-4 col-md-12 py-3 py-lg-5 px-lg-2 px-md-0">
                        <!-- Card-Actu -->
                        {% include 'frontoffice/_components/card.html.twig' with {'event': sous_cat, 'agenda': false, 'showButton': false, 'actu': false, 'billetterie' : false, 'soutiens' : false, 'actions': true } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}