{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}
    {% do cat_actu.getDatas(locale) %}
    <div class=" pr-md-3 p-lg-5 container-fluid">
        <!-- ARTICLE -->
        <div class="p-lg-5 h2">
            <!-- IMAGE ARTICLE -->
            {% set media = cat_actu.getMedia(26) %}
            {% if media is not null %}
                <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="rounded-0 w-100 img-fluid"   alt="...">
            {% endif %}

            <!-- Titre / Description / Contenu de la catégorie -->
            <div class="p-3 p-lg-0">
                <h1 class="blue-title py-5"  style="padding-bottom: 10px">{{ page_title | upper }}</h1>
                <div class="fs-5">{{ cat_actu.description | raw }}</div>
                <div class="fs-5">{{ cat_actu.content | raw }}</div>
            </div>

            <!-- Liste des sous-catégories d'action culturelle -->
            <div class="row">
                {% for sous_cat in sous_cat_actions %}
                    {% set media = sous_cat.getMedia(27) %}
                    {% if media %}
                        {% set url = '/assets/images/' ~ media.media %}
                    {% endif %}

                    <div class=" col-lg-4 col-md-12 py-3 py-lg-5 px-lg-2 px-md-0">
                        <!-- Card-Actu -->
                        {% include 'frontoffice/_components/card.html.twig' with {'event': sous_cat, 'agenda': false, 'showButton': false, 'actu': false, 'billetterie' : false, 'soutiens' : false, 'actions': true } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}