{# /templates/backoffice/section.html.twig #}
{% extends 'backoffice/layout.html.twig' %}
{% block sousTitre %}Liste des articles de la section {{ section.nom }}{% endblock %}
{% block contenuPrincipal %}
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item">
                <h3>{{ article.titre }}</h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

