html,body {
  background-color: $dark;
}
.container-bg {
  background-repeat: repeat;
  background-position-x:center;
  background-position-y:top;
}
.page-bg {
  background-color: rgb(255, 252, 227);
}
.bg-site-3 {
  background-color: $blue;
}
.bg-site-2 {
  background-color: $green;
}
.bg-yellow,.bg-site-1 {
  background-color: $pink;
}
.bg-blue {
  background-color: $blue;
}
