.card {
  &.typ1, &.typ2, &.typ3, &.prog {
    border-color: transparent;
    border-bottom-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
    border-bottom-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
    border-top-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
    border-top-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
    .card-img-top {
      border-top-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl) !important;
      border-top-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl) !important;
    }
    .card-title{
      font-family: "bowlbyone";
      @extend .text-uppercase;
    }
  }
  &.typ1 {
    .card-body{
      background-color: $yellow;
      border-bottom-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      border-bottom-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
    }
  }
  &.typ2 {
    .card-wrapper {
      padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
      border-top-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      border-top-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      background-color:$black;
    }
    .card-title{
      color:$yellow;
    }
  }
  &.typ3 {
    .card-footer {
      border-bottom-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      border-bottom-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      border-color: transparent;
      background-color:$white;
      span {
        border-top-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
        border-top-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
        background-color: $yellow;
        font-family: "bowlbyone";
      }
    }
  }
  &.prog {
    .card-wrapper {
      padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }
    .card-title{
      font-family: "bowlbyone";
    }
    .card-text{
      color:$white;
      @extend .text-uppercase;
    }
    .card-footer {
      border-bottom-right-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      border-bottom-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      border-color: transparent;
      background-color:$white;
      @extend .text-uppercase;
    }
    a{
      color:$black;
      text-decoration: none;
    }
  }
}
