@font-face {
    font-family: 'bowlbyone';
    src: url('../fonts/bowlbyone-regular-webfont.woff2') format('woff2'),
         url('../fonts/bowlbyone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: 'anekdevanagari';
//     src: url('../fonts/AnekDevanagari-VariableFont_wdth,wght.woff2') format('woff2'),
//          url('../fonts/AnekDevanagari-VariableFont_wdth,wght.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }
@font-face {
    font-family: 'anekdevanagari';
    src: url('../fonts/AnekDevanagari_Expanded-Regular.woff2') format('woff2'),
         url('../fonts/AnekDevanagari_Expanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
