@import "./_fonts";


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc):
@import "~bootstrap/scss/functions"; // required

// 2. Include any default variable overrides here:
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 4,
        7: $spacer * 5,
        8: $spacer * 7,
        9: $spacer * 9
);
// $enable-negative-margins: true;

$font-family-sans-serif: "anekdevanagari", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// .font2 {

$yellow : rgb(253, 205, 43);
$pink : rgb(255, 123, 138);
$green : rgb(122, 167, 67);
$blue : rgb(88, 190, 224);

$primary : $yellow;
$secondary : $pink;
$success : $blue;

$link-color: $secondary;


// 3. Include remainder of required Bootstrap stylesheets:
@import "~bootstrap/scss/variables"; // required
@import "~bootstrap/scss/variables-dark"; // required
@import "~bootstrap/scss/maps"; // required
@import "~bootstrap/scss/mixins"; // required
@import "~bootstrap/scss/utilities"; // required

$badge-font-weight: $font-weight-normal;


// 4 Include color utilities

// 4. Include the optional Bootstrap components you need. Disable those you don't
//    to reduce the file size of your final CSS. (Or, leave them all enabled and turn on
//    PurgeCSS in CodeKit):
@import "~bootstrap/scss/root"; // required
@import "~bootstrap/scss/reboot"; // required"
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group"; // requires buttons
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar"; // requires nav
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // requires transitions
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/utilities/api"; // required for color utilities

// 5. Add your custom Sass below, either directly or via imports:

@import "./_hamburgers";

@import "./_backgrounds";
@import "./_typo";
@import "./_nav";
@import "./_cards";
@import "./_controls";


// header
.header-bg {
    background-repeat: repeat-x;
    background-position-x:center;
    background-position-y:top;

}
.footer-bg {
    background-repeat: repeat-x;
    background-position-x:center;
    background-position-y:bottom;

}

// bloc programmation home page
.billetterie-lg-bg {
    max-height:778px;
    background-repeat: repeat-x;
    background-repeat: repeat-x;
    background-position-x:center;
    background-position-y:top;
}
.billetterie-bg {
    max-height:1198px;
    background-repeat: repeat-x;
    background-position-x:center;
    background-position-y:top;
}
.lineup1 {
    font-size:3rem;
    padding:0 1rem;
    background-color:white;
}
.lineup2 {
    font-size:2rem;
    padding:0 1rem;
    background-color:white;
}

// balise vidéo
.video-fluid {
    width:100%;
    height:auto;
}
.bg-green {
    background-color: rgb(38, 85, 70);
}
.bandeau-bg {
    background-repeat: repeat-y;
    background-position-x:center;
    background-position-y:top;
}

.bottom-rounded {
    // border-top-left-radius: 0 0;
    // border-top-right-radius: 0 0;
    border-bottom-right-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem;
    border-width: 0;
}



.black-moon {
    border-top-left-radius: 50% 100%;
    border-top-right-radius:  50% 100%;
    background-color:$black;
    width:200px;
    height:100px;
    &-wrapper {
        @extend .page-bg;
        border-bottom-right-radius: 3rem 3rem;
        border-bottom-left-radius: 3rem 3rem;
    }
}

.float {
    &-start, &-end {
        @extend .img-fluid;
        @extend .mb-3;
    }
    &-start {
        @extend .me-3;
    }
    &-end {
        @extend .ms-3;
    }
}

.partenaires {
    @extend .bg-primary;
    @extend .ps-3;
    @extend .pe-5;
    @extend .py-3;
    @extend .d-inline-block;
    @extend .text-uppercase;
    border-top-left-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl);
}
.overlay {
    position:absolute;
    width:100%;
    top:0;
    display:none;
}
//@import "demo.scss"     // Styles for the demo page. You can delete this file and import statement.