
body {
  font-family: 'Akshar', sans-serif;
  width: 100%;
}

.menu-item {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Container */


/* Card */
@media (max-width: 991px) {
  .card-container {
    padding : 10px 60px 10px 60px !important;
  }
}

@media (min-width: 992px) {
  .card-container {
    padding : 0 40px 0 40px !important;
  }
}

.btn-billetterie-card {
  max-height: 50px;
}

.btn-read-card {

  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  border: 1px solid #343a40;
  border-radius: 0;
  height: 50px;
  background-color: white;
  text-decoration: none;
  color: black;
}

/* Police */
.font-primary {
  font-family: 'Akshar', sans-serif;
}

.font-primary-light {
  font-family: 'Akshar', sans-serif;
  font-weight: 400;
}

/* Taille de texte */


/* Couleur de fond */

.bg-grey {
  background-color:#EDEDED;
}

.bg-footer {
  background-color: #FF5D5D;
}

.bg-pink {
  background-color: #fa5faa;
}

.bg-blue {
  background-color: #09b2FF;
}

.bg-green {
  background-color: #68ff85;
}

.bg-orange {
  background-color: #fe513a;
}

.bg-yellow {
  background-color: #ffb24b;
}

.bg-red {
  background-color: #ea1e79;
}

/* Couleur de texte */

.black {
  color: black !important;
}

.white {
  color: white;
}

.blue-title {
  color: #08afff;
}

.color-primary {
  color: #FF5D5D;
}

/* Custom Select */

.custom-select {
  position: relative;
   select {
     display: none;
   }
}

.select-selected {
  background-color: white;
  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    transform: translateY(-50%);
  }
  .select-arrow-active:after{
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  div,.select-selected {
    font-size: 30px;
    color: #000000;
    padding: 8px 16px;
    border: 0.5px solid black;
    cursor: pointer;
  }
  div:hover, .same-as-selected {
    background-color: #09b2FF;
    color: white;
  }
}

.select-hide {
  display: none;
}



/* Event Annulé */
.cancelled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Couleur rouge avec 50% d'opacité */
  display: flex;
  justify-content: center;
}

.full-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Couleur rouge avec 50% d'opacité */
  display: flex;
  justify-content: center;

}

.cancelled-text {
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  top: 100px;
}

/* Thème */
.theme-1 {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.theme-2 {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
}


/* Menu */
.nav-link {
  color: black;
  font-size: 1.25rem;
}


.offcanvas {
  border: none !important;
  color: black !important;
  &.offcanvas-end {
    top:20%;
    background:transparent;
    right: -15px;
    width: 450px;
  }
}


.menu-item.active {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #09b2FF;
    transform: translate(0, -50%);
  }
}

/* Overlay */

.prog {
  position: relative;
  .overlay {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0 !important;
  right:0;
  bottom:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  >div {
    width:25%;
  }
}


/* text-decoration */

.text-decoration-none {
  text-decoration: none !important;
  color: black !important;
}

/* DropDown Select */

.dropdown-select {
  color : black;
  background-color: white;
  border-radius: 0;
  font-size: 20px;
}

.dropdown-select-item-li {
  color: black;
  background-color: white;
  border-radius: 0;
  border: 0.5px solid black;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  min-width: 300px;
  &:hover {
    background-color: #09b2FF;
    color: white;
    cursor: pointer;
    width: 300px;
  }

}

.dropdown-menu {
  padding:0;
}


.dropdown-toggle-select {
  text-align: start;
  min-width: 300px;
  &:hover {
    background-color: white;
    color: black;
  }
}

/* Image */

.round-img-header {
  padding:5px;
  border: solid 1px #B4B4B4FF;
  background-color: #ffffff;
  margin-left: -8px;
  max-height: 80px
}

.ml-15 {
  margin-left: -8px;
}



.round-left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 15px;
  background-color: #FFFFFF;
  color: black;
  border: 1px solid black;
}

.btn-move-up {
  margin-top: -10px;
}


/* Responsive custom */
@media (min-width: 2200px) {
  .custom-col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}



/* Header */

.btns-header{

  max-height: 57px;
  max-width: 57px;
}

.logo-header{

}

.border-event{
    border: 1px solid black;

}

.transport-infos{
  max-height: 80px;
  max-width: 80px
}

.tarif-infos {
  max-height: 60px
}

.captcha-infos{
  max-height: 122px;
}

.pass-culture-infos{
  max-height: 86px;
}

.card-vedette-home{
  right: 0;
  top:25%;
  width: 25%;
  background-color: white;
}

.img-bruits-lune {
  max-height: 333px;
}

.img-lune-spotify {
  max-height: 215px;
}

.img-spotify {
  max-height: 60px;
}

.objectif-soutiens{
  font-size: 60px;
  font-weight: bold;
}

.lune-soutiens {
  font-size: 80px;
  font-weight: bold;
}

.bottom-17 {
  bottom: 17px;
}

.mh-45 {
  max-height: 45px;
}

.border-dotted {

  border-left-width: 1px;
  border-left-style: dotted;
}

.border-dotted-black {
  @extend .border-dotted;
  border-left-color: black;
}

.border-dotted-white {
  @extend .border-dotted;
  border-left-color: white;
}