<div class="container g-0 header-bg position-relative">
    <div class="px-5 px-lg-0">
        <div class="pt-3">
            <p class="fs-4 text-center">Concerts entre herbe & eau</p>
        </div>
        <div class="px-3 px-lg-7 px-xl-9 pb-3">
            <img src="{{ asset('build/front/images/logo-tete-maln-min.svg') }}" alt="Minuit avant la nuit">

        </div>
        <div class="pb-5">
            <div class="d-none d-md-block px-2 px-lg-6 px-xl-7">
                <img src="{{ asset('build/front/images/dates-lg-min.svg') }}" alt="4 jours de concerts Amiens">

            </div>
            <div class="d-block d-md-none px-2">
                <img src="{{ asset('build/front/images/dates-sm-min.svg') }}" alt="4 jours de concerts Amiens">
            </div>
        </div>
    </div>
</div>