{# /templates/cms/category.html.twig #}
{% extends 'cms/layout.html.twig' %}
{% block sousTitre %}Liste des sections de la catégorie : {{ category.nom }}{% endblock %}
{% block contenuPrincipal %}
    <ul class="list-group">
        {% for section in category.sections %}
            <li class="list-group-item">
                {{ section.nom }}&nbsp;<a href="{{ path('section', {id: section.id}) }}">Voir</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

