<div class="p-4 d-none d-lg-block text-center">
    <!-- CARTE LUNE -->
    <div class="py-3">
        <a rel="nofollow" href="https://billetterie.lalune.net/abonnements/166f6eac2a539b/renouvellement">
            <img style="max-width: 313px" src="{{ asset(getSiteImagePath('abonnement.svg')) }}">
        </a>
    </div>
    <div class="py-5">
        <a class="text-decoration-none" href="{{ path('fo_infos_index') }}">
            <img style="max-height: 150px" src="{{ asset(getSiteImagePath('infos.png')) }}">
        </a>
    </div>
</div>