{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% include 'frontoffice/_components/title.html.twig' with {'events': categories_child_agenda, 'filter': true, 'title': "Historique", 'linkToSorted' : false } %}
        <div class="container-fluid">
            <div class="row font-primary">
                <!-- Boucle des cards des événements -->
                {% for event in events_agenda %}
                    {% if getDatetimeEvent(event.dateEvent, event.datetimeEvent) <  current_date %}
                        {% set media = event.getMedia(1) %}
                        {% set CategoryTitle = event.category.title|replace({' ': '-'})|lower %}
                        <div
                                class="custom-col-xxl-3 px-lg-3 col-lg-4 col-md-12 py-3 pb-lg-5 px-md-0 card-event"
                                data-id="{{ event.category.id }}"
                        >
                            <!-- Card-Actu -->
                            {% include 'frontoffice/_components/card.html.twig' with {'event': event, 'agenda': true, 'showButton': false, 'actu': false, 'billetterie': false, 'soutiens': false, 'actions': false } %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row no-event" style="display: none">
                <div class="col-12 d-flex justify-content-center fs-3 py-5">
                    Désolé, il n'y a pas d'autres évènements dans cette catégorie.
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        {{ render_hinclude(
            controller(
                'App\\Controller\\Frontoffice\\AgendaController::old_events'
            ),  {default: 'frontoffice/_components/loader.html.twig'}
        ) }}
    </div>

{% endblock %}