{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}
    <div class="px-lg-5">
        <div class="row font-primary">
            <div class="px-lg-5 px-md-5 pt-5 row">
                <h1 class="col-lg-2 px-lg-1 col-md-6 col-sm-12 fs-1 blue-title"  style="padding-bottom: 10px">HISTORIQUE</h1>
                <div class="col-1 h1"> <a class="btn" href="{{ path('fo_agenda_index')}}">PROGRAMMATION  ></a></div>
            </div>
            {% for event in events_agenda %}
                {% if event.dateEvent <  date_yesterday %}

                {% set media = event.getMedia(1) %}
                {% set CategoryTitle = event.category.title|replace({' ': '-'})|lower %}
                <div class="custom-col-xxl-3 col-lg-4 col-md-12 pb-lg-5 px-lg-3 px-md-0 category-{{ CategoryTitle }} category-tous-les-evenements">
                    <!-- Card-Actu -->
                    {% include 'frontoffice/_components/card.html.twig' with {'event': event, 'agenda': true, 'showButton': false, 'actu': false, 'billetterie': false, 'soutiens': false } %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



{% endblock %}