{# Surcharge la vue de la liste des actions globales en vue liste #}
<div class="page-actions">
    {% for action in entity.actions %}
        {# Action de retour à la liste #}
        {% if action.name == "return" %}
            {# Passage de l'id du grand parent pour afficher la liste de ses enfant (dont fait partie le parent actuel) #}
            {{ include(action.templatePath, {
                action: action,
                ancestorId: ancestorId,
                crudControllerName: crudControllerName,
                keyName: keyName
            }, with_context = false) }}
        {% else %}
            {{ include(action.templatePath, { action: action}, with_context = false) }}
        {% endif %}
    {% endfor %}
</div>