{% block _Article_media_delete_widget %}
    {# ... #}
    <a
        class="btn btn-block btn-danger"
        href="{{
            ea_url().
                set('fieldName', 'unlink_media').
                set('newValue', ea.entity.fields.getByProperty(form.vars.name).value.id)
        }}"
    >
        Supprimer
    </a>
    <img src="{{ asset(getThumbnailPath(ea.entity.fields.getByProperty(form.vars.name).value.media)) }}" class="img-fluid">
{% endblock %}