{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ tree[3].element.title }}</h1>
    <ul>
        {{ include('frontoffice/actus/actu.html.twig', {tree : tree[3] } ) }}
    </ul>
</div>
{% endblock %}
