{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'frontoffice/_components/title.html.twig' with {'events': categories_actu, 'filter': true, 'historic': false, 'title': null, linkToSorted: false, logo :  null } %}
        <div class="container-fluid">
            <div class="row">

                    <!-- Boucle des cards actualités -->
                {% for actu in actu_childs %}
                    {% set media = actu.getMedia(2) %}
                    <div
                            class="px-lg-3 custom-col-xxl-3 col-lg-4 col-md-12 py-3 pb-lg-5 px-md-0 card-event"
                            data-id="{{ actu.category.id }}"
                    >
                        <!-- Card-Actu -->
                        {% include 'frontoffice/_components/card.html.twig' with {'event': actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': false, 'soutiens': false, 'actions' : false, 'linkActu': true } %}
                    </div>
                {% endfor %}
            </div>
            <div class="row no-event" style="display: none">
                <div class="col-12 d-flex justify-content-center fs-3 py-5">
                    Désolé, il n'y a pas d'autres actualités dans cette catégorie.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
