{% extends 'frontoffice/_components/layout.html.twig' %}


{% block javascripts %}
    <script>
        // TEST DROPDOWN SELECT

        // Récupération des éléments
        const dropDownItems = document.querySelectorAll('.dropdown-select-item');
        const dropDownItemsLi = document.querySelectorAll('.dropdown-select-item-li');
        const dropDownButton = document.querySelector('.dropdown-select-button');
        const allEventCards = document.querySelectorAll('.category-tous-les-evenements');

        // Ajout des écouteurs d'événements
        dropDownItems.forEach(function(item) {
            item.addEventListener('click', function(event) {
                // console.log('changement de selecteur');
                dropDownButton.innerHTML = event.target.innerHTML;

                // Affichage des cartes en fonction de la catégorie sélectionnée
                allEventCards.forEach(function(card) {
                    let selectedCategory = document.querySelector('.dropdown-select-button').innerHTML.toLowerCase();
                    selectedCategory = selectedCategory.replace(/ /g, '-');
                    selectedCategory = selectedCategory.replace(/[éè]/g, 'e');
                    //console.log('Catégorie sélectionnée ' + selectedCategory);

                    if(card.classList.contains('category-' + selectedCategory)) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });

            });
        });
    </script>

{% endblock %}
{% block body %}

    <div class="px-lg-5">
        <div class="row">
            <div class="px-lg-5  px-md-5 pt-5 mb-5 row">
                <div class="px-md-2 px-lg-0 col-lg-2 col-md-6 col-sm-6 big-subtitle blue-title">{{ page_title | upper }}</div>
                <div class="custom-select col-lg-3 col-md-6 col-sm-6 d-flex align-items-end " style="bottom: 17px">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-select text-uppercase dropdown-select-button dropdown-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tous les évènements
                        </button>
                        <ul class="dropdown-menu">
                            <div class="dropdown-select-item-li dropdown-select-item text-uppercase w-100">Tous les évènements</div>

                            {% for categorie_actu in categories_actu %}
                                <div class="dropdown-select-item-li dropdown-select-item w-100">{{ categorie_actu.title | upper }}</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {% for actu in actu_childs %}
                {% set media = actu.getMedia(2) %}
                {% set CategoryTitle = actu.category.title|replace({' ': '-'})|lower %}

                <div class="custom-col-xxl-3 col-lg-4 col-md-12 pb-lg-5 px-lg-3 px-md-0 category-{{ CategoryTitle }} category-tous-les-evenements">
                    <!-- Card-Actu -->
                    {% include 'frontoffice/_components/card.html.twig' with {'event': actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': true, 'soutiens': false } %}
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
